html, body {
  height: 100%;
}

.navbar {
  margin-bottom: 0;
}

.form-container {
  padding: 30px;
  box-shadow: 0 2px 6px 0 rgba(220, 220, 220, 0.5);
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.form-control {
  height: 48px;
  color: ;
}

.row {
  margin: 0;
}

.form-group {
  margin-bottom: 10px;
  width: 100%;
  color: #525252;
}

.form-group > label {
  display: block;
}

.container {
  padding-bottom: 30px;
}

.form-background {
  background: linear-gradient(to right, #896ca8, #6bbfec);
  padding: 90px 50px;
  color: white;
}

.form-background h1 {
  margin-bottom: 20px;
}

.slogan {
  padding: 30px 50px;
}

.dashed-hr {
  border: 1px dashed rgba(255, 255, 255, 0.8);
}

.btn-block button {
  cursor: pointer;
  display: block;
  color: white;
  background: linear-gradient(to right, #15aed8, #44cbef);
  border-radius: 5px;
  border: solid 1px #15aed8;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;
  outline: none;
  padding: 11px 22px;
  margin: 0 0 0 auto;
}

.btn-block button:hover {
  background: #44cbef;
}

.c3-region.normal {
  fill: #ff9966;
}

.c3-region.high {
  fill: #ff661a;
}

.c3-region.critical {
  fill: #ff0000;
}

iframe {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  text-align: center;
  margin: 30px 0;
}

.chart-block {
  padding: 50px;
}

.chart-block .title {
  color: #896ca8;
}

.chart-block {
  background: white;
}

.blue-block {
  background: #1c478e;
  padding-bottom: 50px;
}

.wold-background {
  background: url(background.jpg);
  padding: 30px;
}

.blue-block h1 {
  padding: 50px 0;
  margin: 0;
  text-align: center;
  color: white;
}

.upload-form {
  width: 560px;
  padding: 40px 50px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
  margin: 0 auto;
}

.upload-form > .upload-title {
  font-size: 24px;
  color: #1c478e;
  margin: 0 0 20px;
}

input[type=file] {
  display: inline-block;
  height: 45px;
}

.file + button {
  float: right;
}

.half {
  width: 49%;
  display: inline-block;
}

.table-striped {
  margin: 30px 0;
}

.upload_message {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}

.align-center {
  text-align: center;
}

.warning-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(warning.svg);
  vertical-align: middle;
  margin-right: 10px;
}

.warning-img {
  width: 100%;
  opacity: 0.6;
}

.warning-img:hover {
  width: 200%;
  transform: translateX(-25%);
  opacity: 1;
}

.warning-img:last-of-type {
  margin-bottom: 20px;
}

.success-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(success.svg) no-repeat center;
}

.error-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(error.svg) no-repeat center;
}

.table {
  background: white;
}

.dashboard-container {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  display: inline-block;
  width: 48%;
  margin-top: 30px;
}

.dashboard-container:nth-child(odd) {
  margin-right: 3%;
}

.dashboard-block { 
  background: white;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
}

.dashboard-block::before {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  background: #f44242;
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 9;
}

.dashboard-block .ping {
  width: 65%;
  height: 3px;
  background: linear-gradient(to right, #f44242 50%, rgba(0, 0, 0, 0) 50%);
  display: inline-block;
  position: absolute;
  bottom: 36px;
  left: 19%;
  transition: transform .8s;
}

.dashboard-container .health-number {
  position: absolute;
  right: -24px;
  top: -18px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #1c478e;
  color: white;
  font-size: 34px;
  padding: 27px 32px;
}

.dashboard-container .health-info {
  padding: 30px 20px;
  background: #1c478e;
  color: white;
  font-family: monospace;
}
