.navbar {
  margin-bottom: 0;
}

.form-container {
  padding: 30px;
  box-shadow: 0 2px 6px 0 rgba(220, 220, 220, 0.5);
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.form-control {
  height: 48px;
  color: ;
}

.row {
  margin: 0;
}

.form-group {
  margin-bottom: 10px;
  width: 100%;
  color: #525252;
}

.form-group > label {
  display: block;
}

.container {
  padding-bottom: 30px;
}

.form-background {
  background: linear-gradient(to right, #896ca8, #6bbfec);
  padding: 90px 50px;
  color: white;
  margin-bottom: 20px;
}

.form-background h1 {
  margin-bottom: 20px;
}

.slogan {
  padding: 30px 50px;
}

.dashed-hr {
  border: 1px dashed rgba(255, 255, 255, 0.8);
}

.btn-block button {
  cursor: pointer;
  display: block;
  color: white;
  background: linear-gradient(to right, #15aed8, #44cbef);
  border-radius: 5px;
  border: solid 1px #15aed8;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;
  outline: none;
  padding: 11px 22px;
  margin: 0 0 0 auto;
}

.btn-block button:hover {
  background: #44cbef;
}

.c3-region.normal {
  fill: #ff9966;
}

.c3-region.high {
  fill: #ff661a;
}

.c3-region.critical {
  fill: #ff0000;
}

iframe {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  text-align: center;
  margin: 30px 0;
}

.blue-block {
  background: #0059b3;
  padding: 50px;
}

.blue-block .title {
  color: white;
}

.chart-block {
  background: white;
}
