<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Elite</title>

  <!-- Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/c3.css" rel="stylesheet">
  <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Elite Group</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Dashboard</a></li>
          <li><a href="/record">Record</a></li>
          <li><a href="/tableau">Tableau</a></li>
          <li><a href="/upload_page">Upload File</a></li>
          <li><a href="/statistic">Statistic</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="wold-background">
    <div class="container">
      <table class="table table-hover table-striped" id="errorCodeTable">
        <thead>
          <tr>
            <th style="line-height: 2.3">Machine / Error Code</a></th>
            <th><a href="#" class="btn btn-default" data-toggle="E001001" data-content="沒有執行返回原點" data-placement="bottom" data-trigger="focus">E001001</a></th>
            <th><a href="#" class="btn btn-default" data-toggle="E031016" data-content="傳送軌道上檢測到基板" data-placement="bottom" data-trigger="focus">E031016</a></th>
            <th><a href="#" class="btn btn-default" data-toggle="E041205" data-content="沒有運行返回原點" data-placement="bottom" data-trigger="focus">E041205</a></th>
            <th><a href="#" class="btn btn-default" data-toggle="W940100" data-content="軸動作.請確認是否安全." data-placement="bottom" data-trigger="focus">W940100</a></th>
            <th><a href="#" class="btn btn-default" data-toggle="W502001" data-content="在MS參數上,[打開安全蓋時,<START>開關無效]項有效.請關閉安全蓋後,開始生產." data-placement="bottom" data-trigger="focus">W502001</a></th>
            <th><a href="#" class="btn btn-default" data-toggle="W432000" data-content="未結束返回原點. 請確認一下搬運軌道上沒有Head. 請確認一下機板傳送沒有問題." data-placement="bottom" data-trigger="focus">W432000</a></th>
            <th><a href="#" class="btn btn-default" data-toggle="W362000" data-content="現況的送料器位置發生變化,是否確實要實施優化?" data-placement="bottom" data-trigger="focus">W362000</a></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Load d3.js and c3.js -->
  <script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
  <script src="/static/js/c3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/static/js/callApi.js" type="text/javascript"></script>
  <script src="/static/js/dashboard.js" type="text/javascript"></script>
</body>

</html>
